<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaffCoz - Home</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <span>S</span>
            <span>a</span>
            <span>f</span>
            <span>f</span>
            <span>C</span>
            <span>o</span>
            <span>z</span>
        </div>
        <div class="navbar-wrapper"> <!-- New wrapper div -->
            <ul class="navbar-menu">
                <li><a href="home.html"><img src="../source/icons/home-svgrepo-com.svg" class="menu-icon"> Home</a></li>
                <li class="dropdown">
                    <a href="#"><img src="../source/icons/perfume-2-svgrepo-com.svg" alt="Products" class="menu-icon"> Products</a>
                    <ul class="dropdown-menu">
                        <li><a href="all.html">All</a></li>
                        <li><a href="newest.html">Newest</a></li>
                        <li><a href="discounted.html">Discounted</a></li>
                        <li><a href="best.html">Best Seller</a></li>
                    </ul>
                </li>
                <li><a href="about.html"><img src="../source/icons/about-filled-svgrepo-com.svg" alt="About" class="menu-icon"> About</a></li>
                <li><a href="store.html"><img src="../source/icons/store-svgrepo-com.svg" alt="Stores" class="menu-icon"> Stores</a></li>
                <li><a href="contact.html"><img src="../source/icons/contact-book-svgrepo-com.svg" alt="Contact" class="menu-icon"> Contact</a></li>
            </ul>
        </div> <!-- End of wrapper div -->
    </nav>
    
    

    
    <!-- Slideshow Container -->
    <div class="slideshow-container">
        <!-- Slide 1 -->
        <div class="slide fade">
            <img src="../source/images/dior_sauvage.jpg" alt="Dior Sauvage">
            <div class="text">
                <a href="newest.html">Newest Perfume</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="slide fade">
            <img src="../source/images/chanel_no5.jpg" alt="Chanel No. 5">
            <div class="text">
                <a href="discounted.html">Discounted Perfume</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="slide fade">
            <img src="../source/images/Creed_Aventus.jpg" alt="Creed Aventus">
            <div class="text">
                <a href="best.html">Best Seller Perfume</a>
            </div>
        </div>

        <!-- Navigation Arrows -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!-- Testimonials Section -->
    <section class="testimonials">
        <h2>What Our Customers Say</h2>
        <div class="testimonial-container">
            <div class="testimonial">
                <img src="../source/icons/user-svgrepo-com.svg" alt="User 1" class="user-image">
                <div class="testimonial-content">
                    <p>"SaffCoz has an amazing collection of perfumes! I absolutely love Dior Sauvage."</p>
                    <cite>- John Doe</cite>
                </div>
            </div>
            <div class="testimonial">
                <img src="../source/icons/user-svgrepo-com.svg" alt="User 2" class="user-image">
                <div class="testimonial-content">
                    <p>"The scents are long-lasting and truly unique. Highly recommend!"</p>
                    <cite>- Jane Smith</cite>
                </div>
            </div>
            <div class="testimonial">
                <img src="../source/icons/user-svgrepo-com.svg" alt="User 3" class="user-image">
                <div class="testimonial-content">
                    <p>"I bought the Chanel No. 5 for my wife, and she loves it! Thank you, SaffCoz!"</p>
                    <cite>- Michael Johnson</cite>
                </div>
            </div>
            <div class="testimonial">
                <img src="../source/icons/user-svgrepo-com.svg" alt="User 4" class="user-image">
                <div class="testimonial-content">
                    <p>"Great service and beautiful packaging. Will definitely order again!"</p>
                    <cite>- Emily Davis</cite>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="footer-content">
            <p>Explore the essence of elegance and charm with SaffCoz, where every fragrance tells a story.</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SaffCoz. All rights reserved.</p>
            <p>Follow us on:
                <a href="https://www.facebook.com" target="_blank"><img src="../source/icons/facebook-color-svgrepo-com.svg" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="../source/icons/instagram-1-svgrepo-com.svg" alt="Instagram" class="social-icon"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="../source/icons/twitter-color-svgrepo-com.svg" alt="Twitter" class="social-icon"></a>
            </p>
        </div>
    </footer>
    

    <script src="../js/script.js"></script>
</body>
</html>
