<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaffCoz - Stores</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/store.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <span>S</span>
            <span>a</span>
            <span>f</span>
            <span>f</span>
            <span>C</span>
            <span>o</span>
            <span>z</span>
        </div>
        <div class="navbar-wrapper">
            <ul class="navbar-menu">
                <li><a href="home.html"><img src="../source/icons/home-svgrepo-com.svg" class="menu-icon"> Home</a></li>
                <li class="dropdown">
                    <a href="#"><img src="../source/icons/perfume-2-svgrepo-com.svg" alt="Products" class="menu-icon"> Products</a>
                    <ul class="dropdown-menu">
                        <li><a href="all.html">All</a></li>
                        <li><a href="newest.html">Newest</a></li>
                        <li><a href="discounted.html">Discounted</a></li>
                        <li><a href="best.html">Best Seller</a></li>
                    </ul>
                </li>
                <li><a href="about.html"><img src="../source/icons/about-filled-svgrepo-com.svg" alt="About" class="menu-icon"> About</a></li>
                <li><a href="store.html"><img src="../source/icons/store-svgrepo-com.svg" alt="Stores" class="menu-icon"> Stores</a></li>
                <li><a href="contact.html"><img src="../source/icons/contact-book-svgrepo-com.svg" alt="Contact" class="menu-icon"> Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Store Section -->
    <div class="store-section">
        <h2>Visit Our Offline Stores Near You!</h2>

        <div class="store-card">
            <img src="../source/images/store-1.jpg" alt="SaffCoz Palmerah">
            <div>
                <h3>SaffCoz Palmerah</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue turpis, iaculis non nibh non, iaculis eleifend mauris.</p>
                <a href="#">View Map</a>
            </div>
        </div>

        <div class="store-card">
            <img src="../source/images/store-2.jpg" alt="SaffCoz Menteng">
            <div>
                <h3>SaffCoz Menteng</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue turpis, iaculis non nibh non, iaculis eleifend mauris.</p>
                <a href="#">View Map</a>
            </div>
        </div>

        <div class="store-card">
            <img src="../source/images/store-3.jpg" alt="SaffCoz PIK 2">
            <div>
                <h3>SaffCoz PIK 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue turpis, iaculis non nibh non, iaculis eleifend mauris.</p>
                <a href="#">View Map</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>Explore the essence of elegance and charm with SaffCoz, where every fragrance tells a story.</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SaffCoz. All rights reserved.</p>
            <p>Follow us on:
                <a href="https://www.facebook.com" target="_blank"><img src="../source/icons/facebook-color-svgrepo-com.svg" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="../source/icons/instagram-1-svgrepo-com.svg" alt="Instagram" class="social-icon"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="../source/icons/twitter-color-svgrepo-com.svg" alt="Twitter" class="social-icon"></a>
            </p>
        </div>
    </footer>

    <script src="../js/script.js"></script>  
</body>
</html>
